/******* Bootstrap Theming ********/

$primary: #2CD25F; 
$secondary: #CCCCCC;
$light: #F4F5F8;
$dark: #222429;

$font-family-sans-serif: 'Work Sans', sans-serif;

$headings-font-family: 'Montserrat', sans-serif;

$body-color: #686A6F;

$headings-color: $dark;

$enable-responsive-font-sizes: true;


@import "bootstrap/scss/bootstrap";


/*******Loader********/
.loader{
    display: grid;
	place-items: center;
}

#myDiv {
    display: none;
    text-align: center;
  }


.background {
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    --amount: 20;
  }
  
  $animationDuration: 3s;
  $amount: 6;
  $particleRadius: 4vmin;
  .background span {
    width: $particleRadius * 2;
    height: $particleRadius * 2;
    border-radius: $particleRadius;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.8);
    animation-iteration-count: infinite;
    animation-duration: $animationDuration;
    top: calc(50% - #{$particleRadius});
    left: 50%;
    transform-origin: ($particleRadius*-1) center;
  
    $colors: (
        teal,
       #2CD25F,
      #686A6F
    );
    
  @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        background: nth($colors, random(length($colors)));
        animation-delay: ($i / $amount) * $animationDuration * -1;
        opacity: 0;
      }
    }
  }
  
  @keyframes move {
    0% {
      transform: scale(1) rotate(0deg) translate3d(0, 0, 1px);
    }
    30% {
      opacity: 1;
    }
    100% {
      z-index: 10;
      transform: scale(0) rotate(360deg) translate3d(0, 0, 1px);
    }
  }
/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}

/********** Template CSS ************/
h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

h1.underline{
    position: relative;
}


h1.underline:after{
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    background-color: $primary;
    position: absolute;
    margin-left: 45%;
    margin-right: 45%;
}

h1.about-underline{
    position: relative;
}

h1.about-underline:after{
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    background-color: $primary;
    position: absolute;
    margin-left: 45%;
    margin-right: 45%;
}

span.ball{ 
    display: inline-flex;
    width: 30px; 
    height: 30px;
    background-color: lawngreen;
    z-index: 9999;
    border-radius: 50%;
}



span.blink-class{
    animation: blink 1s linear infinite;
}

@keyframes blink{
    25%{
        opacity: 0.5;
    }
    50%{
        opacity:0
    }
    75%{
        opacity:0.5;
    }
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


.navbar-light .navbar-nav .nav-link {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 45px 15px;
    color: $dark;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
    transition: transform 0.25s ease-out;
}


.service-item {
    background: $light;
    color: $dark;
    transition: .5s;
    opacity: 0.9;
    line-height: 2;
    min-height: 750px;
}

   
// .service-item:hover {
//     background: $dark;
// }

.service-item h4 {
    transition: .5s;
}

.service-edit{
    height: 350px;
    background: $light;
    transition: .5s;
    opacity: 0.9;
}

// .service-item:hover h4 {
//     color: $light;
// }


.portfolio-h{
    min-height: 600px;
}

.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(34, 36, 41, .5);
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
    align-items: center;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 30px solid rgba(34, 36, 41, .9);
}

.portfolio-item i {
    opacity: 0;
    transition: .3s;
    transition-delay: .3s;
    display: flex;
}

.portfolio-item:hover i {
    opacity: 1;
}

.page-header {
    height: 400px;
    margin-bottom: 0;
}


@media (min-width: 360px) and (max-width: 767.98px){
    .service-item-h{
        height: 1200px!important;
    }
}


@media (max-width: 277.98px) and (max-width: 575.98px){


    
    .p-4{
        display: flex;
        flex-direction: row!important;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .counter-bar{
        margin-top: 5rem; 
        display: flex;
    }

    div.header-img img.header-img-content{
        display: none!important;
    }

    .brief-order .order-sm-3, .services-order .order-sm-3{
        order: 3;
    }

    .brief-order .order-sm-4, .services-order .order-sm-4{
        order: 4;
    }

    .contact-form .px-sm-1 .py-sm-1{
        padding: 2px!important;
    }

 
}


@media (max-width: 767.98px){
    .counter-bar{
        margin-top: -13.5rem; 
        display: flex;
    }

    .service-item-h{        
        display: flex;
        flex-direction: column;
    }

    div.header-img img.header-img-content{
        display: none!important;
    }   

    .brief-order .order-sm-3, .services-order .order-sm-4{
        order: 3;
    }

    .brief-order .order-sm-4, .services-order .order-sm-4{
        order: 4;
    }
    

}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0px;
    }

    .navbar-light .navbar-nav.border-right {
        border-right: none !important;
    }


    .page-header {
        height: 300px;
    }

    .counter-bar{
        margin-top: -13rem; 
        z-index: 1000;
        display: flex;
    }

    .p-4{
        display: flex;
        flex-direction: column;
        padding: 0!important;
        margin: 0;
        align-items: center;
    }

    .service-item-h {
        height: 700px;
    } 
    
}

// Example
// Apply styles starting from medium devices and up to extra large devices
@media (min-width: 992px) and (max-width: 1400px) {
    .counter-bar{
        margin-top: -8rem; 
}


.service-item-h {
    height: 750px;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 50%;
}

}


.team-carousel .owl-nav {
    position: absolute;
    width: 60px;
    height: 180px;
    top: calc(50% - 90px);
    left: 0;
    z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    background: $primary;
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    color: $primary;
    background: $dark;
}

.team-item .team-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 4px;
    background: $dark;
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: $secondary;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    background: $primary;
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
    opacity: .5;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: $dark;
    opacity: 1;
}

.testimonial-carousel .owl-item.center .testimonial-item h5 {
    color: $primary;
}

.testimonial-carousel .owl-item.center .testimonial-item::before {
    position: absolute;
    content: "";
    top: 45px;
    left: -30px;
    right: -30px;
    bottom: 45px;
    background: lighten($dark, 25%);
    border-radius: 4px;
    z-index: -1;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.form-img-bg{
    background-image: linear-gradient(rgba(30 , 144, 255, 0.5),rgba(44, 210, 95, 0.55)), url("../img/form-img-2.jpg");  
    background-size: cover;
    height: 600px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.opacity-50{
    opacity: 0.9;
}

.services-bg{
    background: $secondary;
}
